.accept-btn {
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px 10px;
  color: rgb(245, 245, 245);
  background-color: transparent;
  border: 1px solid #4b5769;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.accept-btn:hover {
  border: 1px solid rgb(14, 253, 14);
}

.decline-btn {
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px 10px;
  color: rgb(245, 245, 245);
  background-color: transparent;
  border: 1px solid #4b5769;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.decline-btn:hover {
  border: 1px solid rgb(217, 0, 0);
}

.close-btn {
  font-size: 20px;
  font-weight: bold;
  color: rgb(245, 245, 245);
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.close-btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.input-grey {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(245, 245, 245);
  padding: 10px 5px;
  width: 40%;
  background-color: #4b5769;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 8px;
  margin-bottom: 30px;
}
.input-grey:focus {
  background-color: rgb(93, 93, 93);
}

.label-grey {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 15px;
}

.title {
  color: rgb(245, 245, 245);
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 45px;
  margin-bottom: 10px;
}

.small {
  color: rgb(185, 179, 179);
  font-size: 15px;
  font-style: italic;
}

.container {
  width: 98vw;
  height: 96vh;
  color: rgb(185, 179, 179);
  border: 1px solid #4b5769;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(55, 64, 76)), to(rgb(30, 35, 42)));
  background-image: linear-gradient(180deg, rgb(55, 64, 76) 0%, rgb(30, 35, 42));
  border-radius: 15px;
  overflow: hidden;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body__login {
  position: relative;
  font-family: "Oswald", sans-serif;
}

.header-login {
  position: absolute;
  top: 90px;
  left: 50px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: rgb(245, 245, 245);
  z-index: 100;
}

.login__container {
  position: relative;
  color: rgb(245, 245, 245);
}
.login__img {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/login_bcg_big.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.login__sections {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__header {
  width: 35%;
  z-index: 2;
}
.login__header--text {
  font-weight: lighter;
  font-size: 24px;
}
.login__header--title {
  font-family: "Playfair Display", serif;
  font-size: 55px;
  margin-bottom: 25px;
}
.login__choose {
  position: relative;
  height: 650px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #fefefe;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px #ffffff;
          box-shadow: 0 0 20px #ffffff;
  z-index: 2;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.login__choose:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.login__choose--title {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}
.login__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.login__btns--arrow {
  position: absolute;
  left: 47%;
  top: 50%;
  font-size: 60px;
}
.login__btn {
  width: 200px;
  height: 60px;
  padding: 5px 0;
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  color: rgb(245, 245, 245);
  border: 1px solid rgb(245, 245, 245);
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}
.login__btn--signin {
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, box-shadow 0.3s;
  transition: border 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.login__btn--signin:hover {
  border: 1px solid rgb(245, 245, 245);
  -webkit-box-shadow: 0 0 20px rgb(245, 245, 245);
          box-shadow: 0 0 20px rgb(245, 245, 245);
}
.login__btn--signup {
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, box-shadow 0.3s;
  transition: border 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.login__btn--signup:hover {
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 0 0 20px whitesmoke;
          box-shadow: 0 0 20px whitesmoke;
}

.signin__container {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(245, 245, 245);
  width: 700px;
  height: 300px;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 50px rgb(245, 245, 245);
          box-shadow: 0 0 50px rgb(245, 245, 245);
}
.signin__close-btn {
  font-size: 20px;
  font-weight: bold;
  color: rgb(245, 245, 245);
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.signin__close-btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.signin__title {
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
.signin__input {
  color: rgb(245, 245, 245);
  padding: 10px;
  background-color: transparent;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 8px;
}
.signin__input--login {
  margin-right: 50px;
}
.signin__alert {
  color: rgb(217, 0, 0);
}
.signin__btn {
  color: rgb(245, 245, 245);
  width: 250px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.signin__btn:hover {
  -webkit-box-shadow: 0 0 10px rgb(245, 245, 245);
          box-shadow: 0 0 10px rgb(245, 245, 245);
}

.signup__container {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(245, 245, 245);
  width: 900px;
  height: 95vh;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 50px rgb(245, 245, 245);
          box-shadow: 0 0 50px rgb(245, 245, 245);
}
.signup__show-btn {
  color: rgb(93, 93, 93);
  position: fixed;
  top: 322px;
  right: 7%;
  cursor: pointer;
}
.signup__close-btn {
  font-size: 20px;
  font-weight: bold;
  color: rgb(245, 245, 245);
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.signup__close-btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.signup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
}
.signup__title {
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
.signup__input {
  color: rgb(245, 245, 245);
  padding: 10px;
  width: 700px;
  background-color: transparent;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 8px;
}
.signup__alert {
  color: rgb(217, 0, 0);
}
.signup__btn {
  color: rgb(245, 245, 245);
  width: 250px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.signup__btn:hover {
  -webkit-box-shadow: 0 0 10px rgb(245, 245, 245);
          box-shadow: 0 0 10px rgb(245, 245, 245);
}
.signup__text {
  font-size: 21px;
  font-weight: lighter;
}
.signup__list {
  list-style: none;
}
.signup__list span {
  font-weight: bold;
}
.signup__list--element {
  font-size: 17px;
  font-weight: lighter;
}

.show-pass {
  color: rgb(245, 245, 245);
}

.active {
  background-image: linear-gradient(160deg, rgba(0, 51, 255, 0.25) 0%, rgba(255, 0, 0, 0.25));
}

.body__main {
  color: rgb(185, 179, 179);
  background-color: #181d23;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__container {
  width: 99vw;
  height: 96vh;
  border: 1px solid #4b5769;
  border-radius: 15px;
  overflow: hidden;
}
.main__panel {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(55, 64, 76)), to(rgb(30, 35, 42)));
  background-image: linear-gradient(180deg, rgb(55, 64, 76) 0%, rgb(30, 35, 42));
  height: 87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}
.main__title {
  text-align: center;
  padding-left: 40px;
  font-size: 40px;
  margin-bottom: 30px;
}
.main__text {
  font-weight: lighter;
  font-size: 20px;
  padding: 15px;
}

.nav__welcome {
  font-size: 24px;
  font-style: italic;
  color: rgb(245, 245, 245);
  position: fixed;
  top: 150px;
  right: 100px;
}
.nav__panel {
  width: 100%;
  background-color: #5d6775;
}
.nav__items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
}
.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-image: none;
}
.nav__item:hover {
  background-image: linear-gradient(160deg, rgba(0, 51, 255, 0.25) 0%, rgba(255, 0, 0, 0.25));
}
.nav__item--link {
  font-size: 18px;
  display: block;
  color: rgb(245, 245, 245);
  text-decoration: none;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 8px;
  text-transform: uppercase;
  padding: 20px;
}
.nav__item--logout {
  color: rgb(245, 245, 245);
  font-size: 25px;
  padding: 20px;
  display: block;
  -webkit-transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, transform 0.3s;
  transition: color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.nav__item--logout:hover {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
.nav__item--clock {
  border: none;
  color: rgb(245, 245, 245);
  font-size: 30px;
}

.education__container {
  width: 98vw;
  height: 96vh;
  color: rgb(185, 179, 179);
  border: 1px solid #4b5769;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(55, 64, 76)), to(rgb(30, 35, 42)));
  background-image: linear-gradient(180deg, rgb(55, 64, 76) 0%, rgb(30, 35, 42));
  border-radius: 15px;
  overflow: hidden;
}

.acordeon {
  padding: 5px 10px;
  max-height: 86vh;
  overflow-y: auto;
}
.acordeon__title {
  font-family: "Playfair Display", serif;
  color: rgb(245, 245, 245);
  padding: 5px;
  text-transform: uppercase;
  margin: 20px 0;
}
.acordeon__btn {
  font-family: "Playfair Display", serif;
  z-index: 5;
  font-size: 20px;
  text-align: center;
  color: rgb(245, 245, 245);
  width: 100%;
  background-color: transparent;
  border: 1px solid #4b5769;
  border-radius: 8px;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
}
.acordeon__btn:hover {
  background-image: linear-gradient(160deg, rgba(0, 51, 255, 0.25) 0%, rgba(255, 0, 0, 0.25));
}
.acordeon__info {
  padding: 10px;
  font-size: 17px;
  display: none;
}
.acordeon__info--show {
  -webkit-animation: textAnimation 0.5s linear;
          animation: textAnimation 0.5s linear;
  display: block;
  border: 1px solid #4b5769;
  border-radius: 8px;
  border-top: none;
}

@-webkit-keyframes textAnimation {
  from {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes textAnimation {
  from {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.currency__container {
  width: 98vw;
  height: 96vh;
  color: rgb(185, 179, 179);
  border: 1px solid #4b5769;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(55, 64, 76)), to(rgb(30, 35, 42)));
  background-image: linear-gradient(180deg, rgb(55, 64, 76) 0%, rgb(30, 35, 42));
  border-radius: 15px;
  overflow: hidden;
}
.currency__info {
  padding: 20px;
}
.currency__title {
  color: rgb(245, 245, 245);
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 10px;
}
.currency__text {
  font-size: 18px;
}
.currency__app {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.currency__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.currency__amount {
  color: rgb(245, 245, 245);
  margin-bottom: 30px;
  width: 35%;
  font-size: 60px;
  background-color: transparent;
  border: none;
  text-align: center;
}
.currency__amount:focus {
  outline: none;
}
.currency__select {
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 22px;
  cursor: pointer;
  background-image: linear-gradient(160deg, rgba(0, 51, 255, 0.25) 0%, rgba(255, 0, 0, 0.25));
  outline: none;
}
.currency__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 5px;
  width: 300px;
  padding: 5px 10px;
  background-image: linear-gradient(160deg, rgba(0, 51, 255, 0.25) 0%, rgba(255, 0, 0, 0.25));
  font-size: 35px;
  border: none;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.currency__rate {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.body__transactions {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #181d23;
}

.transactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  max-height: 70vh;
}
.transactions__container {
  width: 98vw;
  height: 96vh;
  color: rgb(185, 179, 179);
  border: 1px solid #4b5769;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(55, 64, 76)), to(rgb(30, 35, 42)));
  background-image: linear-gradient(180deg, rgb(55, 64, 76) 0%, rgb(30, 35, 42));
  border-radius: 15px;
  overflow: hidden;
}
.transactions__title {
  color: rgb(245, 245, 245);
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 10px;
  padding: 10px;
}
.transactions__text {
  font-size: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.transactions__app {
  width: 50%;
}
.transactions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.transactions__search {
  font-size: 16px;
  color: rgb(245, 245, 245);
  background-color: transparent;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 8px;
  padding: 3px;
  margin: 8px 0;
  margin-bottom: 20px;
}
.transactions__income--title {
  font-size: 30px;
  padding: 10px 0;
}
.transactions__expenses--title {
  font-size: 30px;
  padding: 10px 0;
}

.transaction {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.transaction__name {
  font-size: 20px;
  padding: 10px 0;
}
.transaction__name--category {
  font-size: 14px;
}
.transaction__amount {
  font-size: 18px;
  color: rgb(245, 245, 245);
  font-weight: bold;
}
.transaction__amount--income {
  color: rgb(14, 253, 14);
}
.transaction__amount--expenses {
  color: rgb(217, 0, 0);
}
.transaction__delete {
  font-size: 12px;
  color: rgb(245, 245, 245);
  margin-left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.transaction__delete:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.transaction__alert {
  font-style: normal;
  font-weight: bold;
  color: rgb(217, 0, 0);
  font-size: 20px;
}

.options {
  width: 50%;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.options__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.options__info {
  font-size: 28px;
  text-transform: uppercase;
  height: 40%;
  margin-top: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.options__info--money {
  color: rgb(245, 245, 245);
  font-size: 45px;
  font-weight: bold;
}
.options__info--title {
  font-family: "Playfair Display", serif;
}
.options__btns {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47vw;
  padding: 20px 0;
}
.options__btn {
  color: rgb(245, 245, 245);
  font-size: 18px;
  padding: 20px 40px;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #4b5769;
  border-radius: 8px;
  cursor: pointer;
  background-image: none;
  -webkit-transition: background-image 2s;
  transition: background-image 2s;
}
.options__btn i {
  margin-right: 10px;
}
.options__btn a {
  color: rgb(245, 245, 245);
  text-decoration: none;
}
.options__btn:hover {
  background-image: linear-gradient(160deg, rgba(0, 51, 255, 0.25) 0%, rgba(255, 0, 0, 0.25));
}
.options a {
  width: 100%;
  height: 100%;
}

.add-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(55, 64, 76)), to(rgb(30, 35, 42)));
  background-image: linear-gradient(180deg, rgb(55, 64, 76) 0%, rgb(30, 35, 42));
}
.add-panel__title {
  color: rgb(245, 245, 245);
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 45px;
  padding-top: 20px;
  margin-bottom: 40px;
}
.add-panel__label {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 15px;
}
.add-panel__label:nth-child(4) {
  margin-bottom: 0;
}
.add-panel p {
  margin-bottom: 15px;
  font-weight: lighter;
  font-style: italic;
}
.add-panel__input, .add-panel__select {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(245, 245, 245);
  padding: 10px 5px;
  margin-bottom: 3px;
  width: 40%;
  background-color: #4b5769;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 8px;
  margin-bottom: 30px;
}
.add-panel__input:focus, .add-panel__select:focus {
  background-color: rgb(93, 93, 93);
}
.add-panel__calendar::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
.add-panel__calendar::-webkit-calendar-picker-indicator:hover {
  -webkit-filter: invert(0);
          filter: invert(0);
}
.add-panel__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 40%;
}
.add-panel__btn {
  color: rgb(245, 245, 245);
  font-size: 22px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #4b5769;
  border-radius: 8px;
  height: 50px;
  width: 200px;
  cursor: pointer;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.add-panel__btn--add {
  text-transform: uppercase;
}
.add-panel__btn--add:hover {
  border: 1px solid rgb(14, 253, 14);
}
.add-panel__btn--cancel {
  text-transform: uppercase;
}
.add-panel__btn--cancel:hover {
  border: 1px solid rgb(217, 0, 0);
}
.add-panel__btn--category {
  text-transform: capitalize;
}
.add-panel__btn--category:hover {
  border: 1px solid rgb(245, 245, 245);
}

.goals__alert {
  font-size: 18px;
  font-weight: bold;
  color: rgb(217, 0, 0);
}
.goals__panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(55, 64, 76)), to(rgb(30, 35, 42)));
  background-image: linear-gradient(180deg, rgb(55, 64, 76) 0%, rgb(30, 35, 42));
}
.goals__options {
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.goals__title {
  color: rgb(245, 245, 245);
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 45px;
  padding-top: 20px;
  margin-bottom: 40px;
}
.goals__text {
  margin-bottom: 15px;
  font-weight: lighter;
  font-style: italic;
}
.goals__calendar::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
.goals__calendar::-webkit-calendar-picker-indicator:hover {
  -webkit-filter: invert(0);
          filter: invert(0);
}
.goals__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40%;
}
.goals__btn {
  height: 50px;
  width: 200px;
}
.goals__active {
  width: 30%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.goals__list {
  list-style: none;
}
.goals__list--item {
  font-size: 18px;
  color: rgb(245, 245, 245);
  font-style: normal;
  padding: 10px 0;
  border-bottom: 1px solid #4b5769;
}

.goal__info {
  text-align: center;
  padding: 5px 0;
}
.goal__paid, .goal__to-pay, .goal__days {
  font-weight: bold;
}
.goal__btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.goal__time {
  text-align: center;
  padding: 2px 0;
}

.deposit {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  background-color: rgba(24, 29, 35, 0.9058823529);
  border: 1px solid #4b5769;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px rgb(0, 0, 0);
          box-shadow: 0 0 20px rgb(0, 0, 0);
}
.deposit__alert {
  font-size: 18px;
  font-weight: bold;
  color: rgb(217, 0, 0);
}
.deposit__panel {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.deposit__input {
  width: 250px;
}
.deposit__btn--close {
  font-size: 14px;
  position: fixed;
  right: 15px;
  top: 15px;
}

.finances__panel {
  display: none;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(55, 64, 76)), to(rgb(30, 35, 42)));
  background-image: linear-gradient(180deg, rgb(55, 64, 76) 0%, rgb(30, 35, 42));
}
.finances__btn--close {
  position: fixed;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 40px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 20px;
  color: rgb(245, 245, 245);
  background-color: rgba(24, 29, 35, 0.9058823529);
  border: 1px solid #4b5769;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.finances__btn--close:hover {
  border: 1px solid rgb(245, 245, 245);
}

.budget {
  border-right: 1px solid #4b5769;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}
.budget__alert {
  font-size: 18px;
  color: red;
  padding: 10px;
}
.budget__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.budget__text {
  color: rgb(245, 245, 245);
  text-transform: capitalize;
  font-size: 16px;
  padding: 2px 0;
}
.budget__info {
  text-align: center;
}
.budget__input {
  width: 350px;
}
.budget__list {
  list-style: none;
  height: 50%;
}
.budget__list--item {
  width: 350px;
  font-size: 20px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #4b5769;
}
.budget__list--info {
  margin-right: 50px;
}

.fees {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}
.fees__info {
  text-align: center;
}
.fees__text {
  color: rgb(245, 245, 245);
  text-transform: capitalize;
  font-size: 16px;
  padding: 5px 0;
}
.fees__alert {
  font-size: 18px;
  color: red;
  padding: 10px;
}
.fees__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fees__input {
  width: 350px;
}
.fees__list {
  list-style: none;
  height: 50%;
}
.fees__list--item {
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #4b5769;
}
.fees__list--info {
  margin-bottom: 5px;
}
.fees__btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.credit__title {
  font-size: 32px;
  padding: 10px;
}
.credit__text {
  font-size: 18px;
  padding: 0 0 10px 10px;
}
.credit__small {
  border-bottom: 1px solid rgb(245, 245, 245);
  padding: 5px 0 5px 10px;
}
.credit__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70%;
}
.credit__form {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.credit__input {
  font-size: 16px;
  padding: 5px 5px;
  width: 15%;
  margin-bottom: 0;
}
.credit__label {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
}
.credit__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
}
.credit__info {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  text-transform: uppercase;
  width: 700px;
}
.credit__result {
  margin-left: 20px;
  font-size: 35px;
  font-weight: bold;
}
.credit__btn {
  font-size: 22px;
  padding: 10px 0;
  width: 700px;
}
.credit__btn:hover {
  border: 1px solid rgb(245, 245, 245);
}

.raports__title {
  margin-bottom: 10px;
  padding: 10px;
}
.raports__text {
  font-size: 18px;
  padding: 0 0 10px 10px;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.raports__app {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.raports__form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.raports__options {
  display: block;
  text-align: center;
}
.raports__options--month, .raports__options--year {
  display: none;
}
.raports__input {
  margin-top: 20px;
  width: 100%;
}
.raports__input--select {
  width: 20%;
}
.raports__btn {
  font-size: 15px;
  padding: 10px 20px;
}

.stats__title {
  margin-bottom: 10px;
  padding: 10px;
}
.stats__text {
  font-size: 18px;
  padding: 0 0 10px 10px;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.stats__app {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.stats__form {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
  padding: 20px 0;
}
.stats__input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}
.stats__btn {
  font-size: 15px;
  padding: 10px 20px;
}

#barChart {
  width: 88% !important;
  height: 100%;
  height: auto !important;
  margin-bottom: 20px;
}

#lineChart {
  width: 88% !important;
  height: 100%;
  height: auto !important;
  margin-bottom: 20px;
}

#pieChart {
  width: 100% !important;
  height: 70% !important;
}

.settings__app {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings__btn {
  color: rgb(245, 245, 245);
  font-size: 18px;
  padding: 20px 40px;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #4b5769;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.settings__btn:last-child:hover {
  border: 1px solid rgb(217, 0, 0);
}
.settings__btn:hover {
  border: 1px solid rgb(245, 245, 245);
}

.personal,
.password,
.email,
.delete {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: 300px;
  background-color: rgba(24, 29, 35, 0.9058823529);
  border: 1px solid #4b5769;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px rgb(0, 0, 0);
          box-shadow: 0 0 20px rgb(0, 0, 0);
}
.personal__panel,
.password__panel,
.email__panel,
.delete__panel {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.personal__btn,
.password__btn,
.email__btn,
.delete__btn {
  font-size: 16px;
  padding: 10px 20px;
}
.personal__btn--close,
.password__btn--close,
.email__btn--close,
.delete__btn--close {
  font-size: 14px;
  position: fixed;
  right: 15px;
  top: 15px;
}