$dark_color : rgb(0, 0, 0);
$white_color : rgb(245, 245, 245);
$grey_color : rgb(93, 93, 93);
$text_panel_color : rgb(185, 179, 179);


$alert_color : rgb(217, 0, 0);
$lime_color : rgb(14, 253, 14);



$dark_background : #181d23;
$dark_light_background : #181d23e7;
$border_color : #4b5769;
$panel_background : linear-gradient(180deg, rgba(55,64,76,1) 0%,rgb(30, 35, 42));
$nav_background : #5d6775;
$item_hover_color : linear-gradient(160deg, rgba(0, 51, 255, 0.25) 0%, rgba(255, 0, 0, 0.25));
