//Przycisk akcpetacji

.accept-btn {
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: $white_color;
    background-color: transparent;
    border: 1px solid $border_color;
    border-radius: 8px;
    cursor: pointer;
    transition: border .3s;

    &:hover {
        border: 1px solid $lime_color;
    }
}


//Przycisk anulowania

.decline-btn {
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: $white_color;
    background-color: transparent;
    border: 1px solid $border_color;
    border-radius: 8px;
    cursor: pointer;
    transition: border .3s;

    &:hover {
        border: 1px solid $alert_color;
    }
}

//Przycisk do zamykania X

.close-btn {

    font-size: 20px;
    font-weight: bold;
    color: $white_color;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform .3s;

    &:hover {
        transform: scale(0.9);
    }
}


// Przezroczysty input 

.input-grey {
    font-size: 16px;
    font-weight: lighter;
    color: $white_color;
    padding: 10px 5px;
    margin-bottom: 3px;
    width: 40%;
    background-color: $border_color;
    border: 1px solid $white_color;
    border-radius: 8px;
    margin-bottom: 30px;


    &:focus {
        background-color: $grey_color;
    }
}


// szary label

.label-grey {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 15px;
}


//biały tytuł

.title {
    color: $white_color;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 45px;
    margin-bottom: 10px;
}


//mały tekst ukośny

.small {
    color: $text_panel_color;
    font-size: 15px;
    font-style: italic;
}