@import './colors';
@import './components';
@import './mixins';



*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// header   font-family: "Playfair Display", serif;
//reszta  font-family: "Oswald", sans-serif;


//* LOGIN *//

body {
    &__login {
        position: relative;
        font-family: "Oswald", sans-serif;

    }



}


.header-login {
    position: absolute;
    top: 90px;
    left: 50px;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    color: $white_color;
    z-index: 100;
}


.login {




    &__container {
        position: relative;
        color: $white_color;
    }


    &__img {
        @include maxWidhtHeight;
        background-image: url(../img/login_bcg_big.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;


    }

    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        @include maxWidhtHeight;
        background-color: rgba($color: $dark_color, $alpha: .6);
        z-index: 0;
    }

    &__sections {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    &__header {
        width: 35%;
        z-index: 2;

        &--text {
            font-weight: lighter;
            font-size: 24px;
        }

        &--title {
            font-family: "Playfair Display", serif;
            font-size: 55px;
            margin-bottom: 25px;
        }
    }




    &__choose {
        position: relative;
        height: 650px;
        width: 40%;
        @include flexSpaceAround;
        flex-direction: column;
        border: 1px solid #fefefe;
        border-radius: 10px;
        box-shadow: 0 0 20px #ffffff;
        z-index: 2;
        transition: background-color .3s;

        &:hover {
            background-color: rgb($dark_color, $alpha: .6);
        }

        &--title {
            font-family: "Playfair Display", serif;
            text-transform: uppercase;
            text-align: center;
            font-size: 50px;
        }

    }

    &__btns {
        @include flexSpaceAround;

        &--arrow {
            position: absolute;
            left: 47%;
            top: 50%;
            font-size: 60px;

        }
    }

    &__btn {
        width: 200px;
        height: 60px;
        padding: 5px 0;
        font-size: 22px;
        font-weight: bold;

        background-color: transparent;
        color: $white_color;
        @include borderWhite8px;
        cursor: pointer;
        box-shadow: 0 0 0;

        &--signin {
            transition: border .3s, box-shadow .3s;

            &:hover {
                border: 1px solid $white_color;
                box-shadow: 0 0 20px $white_color;

            }
        }

        &--signup {
            transition: border .3s, box-shadow .3s;

            &:hover {
                border: 1px solid whitesmoke;
                box-shadow: 0 0 20px whitesmoke;

            }
        }




    }


}

// Okno Logowania

.signin {

    &__container {
        z-index: 9999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        background-color: rgba($color: $dark_color, $alpha: .9);
        color: $white_color;
        width: 700px;
        height: 300px;
        @include borderWhite8px;
        box-shadow: 0 0 50px $white_color;
    }

    &__close-btn {
        font-size: 20px;
        font-weight: bold;
        color: $white_color;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        transition: transform .3s;

        &:hover {
            transform: scale(0.9);
        }
    }



    &__title {
        font-family: "Playfair Display", serif;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
    }



    &__input {
        color: $white_color;
        padding: 10px;
        background-color: transparent;
        @include borderWhite8px;

        &--login {
            margin-right: 50px;
        }
    }


    &__alert {
        color: $alert_color;

    }

    &__btn {
        color: $white_color;
        width: 250px;
        font-size: 20px;
        padding: 5px;
        @include borderWhite8px;
        background-color: transparent;
        cursor: pointer;
        transition: box-shadow .3s;


        &:hover {
            box-shadow: 0 0 10px $white_color;
        }



    }



}


// Okno rejestracji


.signup {

    &__container {
        z-index: 9999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        background-color: rgba($color: black, $alpha: .9);
        color: $white_color;
        width: 900px;
        height: 95vh;
        @include borderWhite8px;
        box-shadow: 0 0 50px $white_color;
    }

    &__show {
        &-btn {
            color: $grey_color;
            position: fixed;
            top: 322px;
            right: 7%;
            cursor: pointer;
        }
    }

    &__close-btn {
        font-size: 20px;
        font-weight: bold;
        color: $white_color;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        transition: transform .3s;

        &:hover {
            transform: scale(0.9);
        }
    }

    &__form {
        @include flexSpaceAround;
        align-items: center;
        flex-direction: column;
        height: 50%;
    }




    &__title {
        font-family: "Playfair Display", serif;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
    }



    &__input {
        color: $white_color;
        padding: 10px;
        width: 700px;
        background-color: transparent;
        @include borderWhite8px;

    }


    &__alert {
        color: $alert_color;

    }

    &__btn {
        color: $white_color;
        width: 250px;
        font-size: 20px;
        padding: 5px;
        @include borderWhite8px;
        background-color: transparent;
        cursor: pointer;
        box-shadow: 0;
        transition: box-shadow .3s;


        &:hover {
            box-shadow: 0 0 10px $white_color;
        }

    }

    &__text {
        font-size: 21px;
        font-weight: lighter;
    }


    &__list {
        list-style: none;

        span {
            font-weight: bold;
        }

        &--element {
            font-size: 17px;
            font-weight: lighter;
        }
    }



}

.show-pass {
    color: $white_color;
}



////////////////////////////////////////////////////////
/// 
/// MAIN ///
/// 


.active {
    background-image: $item_hover_color;
}

.body {
    &__main {
        color: $text_panel_color;
        background-color: $dark_background;
        @include maxWidhtHeight;
        @include flexCenter;


    }
}

.main {
    &__container {
        width: 99vw;
        height: 96vh;
        border: 1px solid $border_color;
        border-radius: 15px;
        overflow: hidden;


    }

    &__panel {
        background-image: $panel_background;
        height: 87%;
        @include flexSpaceAround;
        align-items: center;
        flex-direction: column;
        border: none;

    }



    &__title {
        text-align: center;
        padding-left: 40px;
        font-size: 40px;
        margin-bottom: 30px;

    }

    &__text {
        font-weight: lighter;
        font-size: 20px;
        padding: 15px;
    }
}


.nav {

    &__panel {
        width: 100%;
        background-color: $nav_background;



    }

    &__items {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        padding: 10px;
    }

    &__item {

        @include flexCenter;
        cursor: pointer;
        background-image: none;

        &:hover {
            background-image: $item_hover_color;

        }

        &--link {

            font-size: 18px;
            display: block;
            color: $white_color;
            text-decoration: none;
            @include borderWhite8px;
            text-transform: uppercase;
            padding: 20px;
        }

        &--logout {
            color: $white_color;
            font-size: 25px;
            padding: 20px;
            display: block;
            transition: color .3s, transform .3s;

            &:hover {

                transform: scale(.92);
            }
        }

        &--clock {
            border: none;
            color: $white_color;
            font-size: 30px;

        }
    }
}






////////////////////////////////////////////////////////
/// 
/// EDUCATION ///
/// 
/// 
/// 
/// 
/// 
/// 
/// 


.education {
    &__container {
        width: 98vw;
        height: 96vh;
        color: $text_panel_color;
        border: 1px solid $border_color;
        background-image: $panel_background;
        border-radius: 15px;
        overflow: hidden;


    }
}

.acordeon {
    padding: 5px 10px;
    max-height: 86vh;
    overflow-y: auto;

    &__title {
        font-family: "Playfair Display", serif;
        color: $white_color;
        padding: 5px;
        text-transform: uppercase;
        margin: 20px 0;
    }

    &__btn {

        font-family: "Playfair Display", serif;
        z-index: 5;
        font-size: 20px;
        text-align: center;
        color: $white_color;
        width: 100%;
        background-color: transparent;
        border: 1px solid $border_color;
        border-radius: 8px;
        margin: 5px 0;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-image: $item_hover_color;
        }

    }

    &__info {

        padding: 10px;
        font-size: 17px;
        display: none;



        &--show {
            animation: textAnimation .5s linear;
            display: block;
            border: 1px solid $border_color;
            border-radius: 8px;
            border-top: none;

        }
    }
}

@keyframes textAnimation {
    from {

        transform: translateY(-30%);
    }

    to {
        transform: translateY(0);
    }

}




//// CURRENCY CALCULATOR ////
/// 
///


.currency {
    &__container {
        width: 98vw;
        height: 96vh;
        color: $text_panel_color;
        border: 1px solid $border_color;
        background-image: $panel_background;
        border-radius: 15px;
        overflow: hidden;

    }

    &__info {


        padding: 20px;
    }

    &__title {
        color: $white_color;
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        font-size: 32px;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 18px;
    }

    &__app {

        width: 100%;
        height: 60%;
        @include flexSpaceAround;

    }

    &__section {
        @include flexCenter;
        flex-direction: column;
    }

    &__amount {
        color: $white_color;
        margin-bottom: 30px;
        width: 35%;
        font-size: 60px;
        background-color: transparent;
        border: none;
        text-align: center;

        &:focus {
            outline: none;
        }
    }

    &__select {
        color: $dark_color;
        padding: 10px;
        font-size: 22px;
        cursor: pointer;
        background-image: $item_hover_color;
        outline: none;

    }

    &__btn {
        align-self: flex-end;
        margin: 5px;
        width: 300px;
        padding: 5px 10px;
        background-image: $item_hover_color;
        font-size: 35px;
        border: none;
        border-radius: 25px;
        color: $dark_color;
        cursor: pointer;

    }

    &__rate {
        font-size: 24px;
        text-align: center;
        margin-top: 20px;
    }
}


/// Transactions
/// 
/// 
//


.body {
    &__transactions {
        @include maxWidhtHeight;
        @include flexCenter;
        background-color: $dark_background;

    }
}

.transactions {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    max-height: 70vh;


    &__container {
        width: 98vw;
        height: 96vh;
        color: $text_panel_color;
        border: 1px solid $border_color;
        background-image: $panel_background;
        border-radius: 15px;
        overflow: hidden;


    }

    &__title {
        color: $white_color;
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        font-size: 32px;
        margin-bottom: 10px;
        padding: 10px;
    }

    &__text {
        font-size: 18px;
        padding-bottom: 20px;
        border-bottom: 1px solid $white_color;
    }

    &__app {
        width: 50%;

    }

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;


    }

    &__search {
        font-size: 16px;
        color: $white_color;
        background-color: transparent;
        @include borderWhite8px;
        padding: 3px;
        margin: 8px 0;
        margin-bottom: 20px;


    }

    &__income {
        &--title {
            font-size: 30px;
            padding: 10px 0;
        }
    }

    &__expenses {
        &--title {
            font-size: 30px;
            padding: 10px 0;
        }
    }
}

.transaction {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;

    &__name {
        &--category {
            font-size: 14px;
        }

        font-size: 20px;
        padding: 10px 0;

    }

    &__amount {
        font-size: 18px;
        color: $white_color;
        font-weight: bold;

        &--income {
            color: $lime_color;
        }

        &--expenses {
            color: $alert_color;
        }
    }

    &__delete {
        font-size: 12px;
        color: $white_color;
        margin-left: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: transform .3s;

        &:hover {
            transform: scale(.9);
        }

    }

    &__alert {
        font-style: normal;
        font-weight: bold;
        color: $alert_color;
        font-size: 20px;

    }
}

.options {
    width: 50%;
    height: 65vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    &__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    &__info {

        font-size: 28px;
        text-transform: uppercase;
        height: 40%;
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--money {
            color: $white_color;
            font-size: 45px;
            font-weight: bold;
        }

        &--title {
            font-family: "Playfair Display", serif;
        }
    }

    &__btns {
        height: 50%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 47vw;

        padding: 20px 0;
    }

    &__btn {
        color: $white_color;
        font-size: 18px;
        padding: 20px 40px;
        margin-right: 10px;
        background-color: transparent;
        border: 1px solid $border_color;
        border-radius: 8px;
        cursor: pointer;
        background-image: none;
        transition: background-image 2s;

        i {
            margin-right: 10px;
        }

        a {
            color: $white_color;
            text-decoration: none;
        }

        &:hover {
            background-image: $item_hover_color;
        }
    }

    a {
        width: 100%;
        height: 100%;

    }


}

.add-panel {


    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: $panel_background;

    &__title {
        color: $white_color;
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        font-size: 45px;
        padding-top: 20px;
        margin-bottom: 40px;
    }

    &__label {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 15px;

        &:nth-child(4) {
            margin-bottom: 0;
        }
    }

    p {
        margin-bottom: 15px;
        font-weight: lighter;
        font-style: italic;
    }

    &__input,
    &__select {
        font-size: 16px;
        font-weight: lighter;
        color: $white_color;
        padding: 10px 5px;
        margin-bottom: 3px;
        width: 40%;
        background-color: $border_color;
        border: 1px solid $white_color;
        border-radius: 8px;
        margin-bottom: 30px;


        &:focus {
            background-color: $grey_color;
        }
    }




    &__calendar::-webkit-calendar-picker-indicator {
        filter: invert(100%);
        font-size: 30px;
        cursor: pointer;
        transition: filter .3s;

        &:hover {
            filter: invert(0);
        }
    }


    &__btns {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 40%;
        height: 40%;
    }

    &__btn {
        color: $white_color;
        font-size: 22px;
        padding: 10px 20px;
        background-color: transparent;
        border: 1px solid $border_color;
        border-radius: 8px;
        height: 50px;
        width: 200px;
        cursor: pointer;
        transition: border .3s;

        &--add {
            text-transform: uppercase;

            &:hover {
                border: 1px solid $lime_color;
            }
        }

        &--cancel {
            text-transform: uppercase;

            &:hover {
                border: 1px solid $alert_color;
            }
        }

        &--category {
            text-transform: capitalize;

            &:hover {
                border: 1px solid $white_color;
            }
        }
    }



}

.goals {
    &__alert{
        font-size: 18px;
        font-weight: bold;
        color: $alert_color;
    }
    &__panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none;
        justify-content: space-around;
        align-items: center;
        background-image: $panel_background;

    }


    &__options {
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        color: $white_color;
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        font-size: 45px;
        padding-top: 20px;
        margin-bottom: 40px;
    }


    &__text {
        margin-bottom: 15px;
        font-weight: lighter;
        font-style: italic;
    }



    &__calendar::-webkit-calendar-picker-indicator {
        filter: invert(100%);
        font-size: 30px;
        cursor: pointer;
        transition: filter .3s;

        &:hover {
            filter: invert(0);
        }
    }

    &__btns {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 40%;
    }

    &__btn {
        height: 50px;
        width: 200px;

    }

    &__active {
        width: 30%;
        height: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

    }

    &__list {
        list-style: none;

        &--item {
            font-size: 18px;
            color: $white_color;
            font-style: normal;
            padding: 10px 0;
            border-bottom: 1px solid $border_color;

        }
    }
}


.goal {
    &__info {
        text-align: center;
        padding: 5px 0;
    }

    &__paid,
    &__to-pay,
    &__days {
        font-weight: bold;
    }

    &__btns {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
    }

    &__time {
        text-align: center;
        padding: 2px 0;
    }

}

.deposit {
    &__alert {
            font-size: 18px;
            font-weight: bold;
            color: $alert_color;
        }
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: $dark_light_background;
    border: 1px solid $border_color;
    border-radius: 8px;
    box-shadow: 0 0 20px $dark_color;

    &__panel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }


    &__input {
        width: 250px;
    }

    &__btn {
        &--close {
            font-size: 14px;
            position: fixed;
            right: 15px;
            top: 15px;
        }

    }
}

.finances {

    &__panel {
        display: none;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        justify-content: space-around;
        align-items: center;
        background-image: $panel_background;

    }

    &__btn {
        &--close {
            position: fixed;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 40px;
            font-size: 18px;
            text-transform: uppercase;
            padding: 10px 20px;
            color: $white_color;
            background-color: $dark_light_background;
            border: 1px solid $border_color;
            border-radius: 8px;
            cursor: pointer;
            transition: border .3s;

            &:hover {
                border: 1px solid $white_color;
            }

        }
    }


}

.budget {
    border-right: 1px solid $border_color;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    &__panel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__text {

        color: $white_color;
        text-transform: capitalize;
        font-size: 16px;
        padding: 2px 0;
    }

    &__info {
        text-align: center;
    }

    &__input {
        width: 350px;
    }

    &__list {
        list-style: none;

        &--item {
            width: 350px;
            font-size: 20px;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            border-bottom: 1px solid $border_color;
        }

        &--info {
            margin-right: 50px;
        }
    }
}


// Transakcje - stałe opłaty

.fees {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    &__info {

        text-align: center;
    }


    &__text {
        color: $white_color;
        text-transform: capitalize;
        font-size: 16px;
        padding: 5px 0;

    }


    &__panel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__input {
        width: 350px;
    }



    &__list {
        list-style: none;

        &--item {
            width: 350px;
            font-size: 20px;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            border-bottom: 1px solid $border_color;
        }


    }


}


//-------------- KALKULATOR ZDOLNOŚCI --------------//

.credit {
    &__title {
        font-size: 32px;
        padding: 10px;
    }

    &__text {
        font-size: 18px;
        padding: 0 0 10px 10px;
    }

    &__small {
        border-bottom: 1px solid $white_color;
        padding: 5px 0 5px 10px;
    }

    &__app {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 70%;
    }

    &__form {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

    }

    &__input {
        font-size: 16px;
        padding: 5px 5px;
        width: 15%;
        margin-bottom: 0;

    }

    &__label {

        font-size: 16px;
        font-weight: normal;
        margin-bottom: 0;
    }

    &__option {
        display: flex;
        text-align: left;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
    }

    &__info {
        text-align: center;
        font-family: "Playfair Display", serif;
        font-size: 25px;
        text-transform: uppercase;
        width: 700px;
    }

    &__result {
        margin-left: 20px;
        font-size: 35px;
        font-weight: bold;
    }

    &__btn {
        font-size: 22px;
        padding: 10px 0;
        width: 700px;

        &:hover {
            border: 1px solid $white_color;
        }
    }
}



//////////////////// RAPORTY ////////////////////////
/// 


.raports {

    &__title {
        margin-bottom: 10px;
        padding: 10px;
    }

    &__text {
        font-size: 18px;
        padding: 0 0 10px 10px;
        border-bottom: 1px solid $white_color;

    }

    &__app {
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    &__form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__options {
        display: block;
        text-align: center;

        &--month,
        &--year {
            display: none;
        }
    }

    &__input {
        margin-top: 20px;
        width: 100%;

        &--select {
            width: 20%;
        }
    }

    &__btn {
        font-size: 15px;
        padding: 10px 20px;

    }




}


//////////////////// STATYSTYKI ////////////////////
/// 

.stats {

    &__title {
        margin-bottom: 10px;
        padding: 10px;
    }

    &__text {
        font-size: 18px;
        padding: 0 0 10px 10px;
        border-bottom: 1px solid $white_color;

    }

    &__app {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;


    }

    &__form {
        width: 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-right: 100px;
        padding: 20px 0;
    }


    &__input {
        width: 80%;
        padding: 10px;
        margin-bottom: 20px;
    }

    &__btn {
        font-size: 15px;
        padding: 10px 20px;

    }


}

#barChart {
    width: 88% !important;
    height: 100%;
    height: auto !important;
    margin-bottom: 20px;
}

#lineChart {
    width: 88% !important;
    height: 100%;
    height: auto !important;
    margin-bottom: 20px;
}

#pieChart {
    width: 100% !important;
    height: 70% !important;

}









////////////// USTAWIENIA //////////
/// 

.settings {
    &__app {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    &__btn {
        color: $white_color;
        font-size: 18px;
        padding: 20px 40px;
        margin-right: 10px;
        background-color: transparent;
        border: 1px solid $border_color;
        border-radius: 8px;
        cursor: pointer;
        transition: border .3s;

        &:last-child:hover {
            border: 1px solid $alert_color;
        }


        &:hover {
            border: 1px solid $white_color;
        }

    }
}


.personal,
.password,
.email,
.delete {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    background-color: $dark_light_background;
    border: 1px solid $border_color;
    border-radius: 8px;
    box-shadow: 0 0 20px $dark_color;

    &__panel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__btn {
        font-size: 16px;
        padding: 10px 20px;

        &--close {
            font-size: 14px;
            position: fixed;
            right: 15px;
            top: 15px;
        }

    }
}